.header {
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.header .a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}
.header .logo{
    max-height: 90px;
}
.header .title-group {
    padding-left: 25px;
}
.header .title-group i{
    padding-right: 5px;
    color: black;
}
.header .title-group a{
    align-items: baseline;
    color: black;
    text-decoration: unset;
}