<mat-card class="provider-form-container">
  <legend>CADASTRO DE FORNECEDOR</legend>
    <mat-card-title class="spacefileds"> Nome Fantasia </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="ex: Rei das Maçãs"
          [(ngModel)]="provider.nomeFantasia"
          name="nomeFantasia"
        />
      </mat-form-field>
    </form>
    <mat-card-title class="spacefileds"> Razão Social </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="ex: Rei das Maçãs LTDA"
          [(ngModel)]="provider.razaoSocial"
          name="razaoSocail"
        />
      </mat-form-field>
    </form>
    <mat-card-title class="spacefileds"> Cnpj </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="ex:XX.XXX.XXX/XXXX-XX"
          [(ngModel)]="provider.cnpj"
          name="cnpj"
        />
      </mat-form-field>
    </form>
    <mat-card-title class="spacefileds"> Endereço </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Rua das Macas"
          [(ngModel)]="provider.endereco"
          name="endereco"
        />
      </mat-form-field>
    </form>
    <mat-card-title class="spacefileds"> E-mail </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          type="email"
          matInput
          placeholder="you@can.com"
          [(ngModel)]="provider.email"
          name="email"
        />
      </mat-form-field>
    </form>
    <mat-card-title class="spacefileds"> Telefone </mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="1111111111"
          [(ngModel)]="provider.telefone"
          name="telefone"
        />
      </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProvider()">Salvar</button>

    <button mat-raised-button (click)="cancel()">Voltar</button>
</mat-card>
